{% extends "base.html" %}
{% block title %}
    Add Products
{% endblock %}
{% load static %}
{% block content %}
    <!-- start add products -->
    {% if user.is_superuser %}
        <section class="forms">
            <h3>اضافة منتجات</h3>
            {% if update_products %}
                <form class="add-items add-products" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="group-form">
                        <label for="image">اضافة صورة</label>
                        <input
                                class="custom-input"
                                id="image"
                                type="file"
                                name="image"
                                value="{{ update_products.image.url }}"
                                required
                        />
                    </div>
                    <div class="group-form">
                        <label for="name">إسم المنتج</label>
                        <input id="name" type="text" name="name" value="{{ update_products.name }}" required/>
                    </div>

                    <div class="group-form">
                        <label for="purchasingPrice">سعر الشراء</label>
                        <input
                                id="purchasingPrice"
                                type="number"
                                name="purchasingPrice"
                                min="1"
                                value="{{ update_products.price_of_buy }}"
                                required
                        />
                    </div>
                    <div class="group-form">
                        <label for="sellingPrice">سعر البيع</label>
                        <input
                                id="sellingPrice"
                                type="number"
                                name="sellingPrice"
                                min="1"
                                value="{{ update_products.price_of_sale }}"
                                required
                        />
                    </div>
                    <div class="group-form">
                        <label for="inStock">عدد المنتجات في المخزن</label>
                        <input id="inStock" type="number" name="inStock" min="1" value="{{ update_products.available }}"
                               required/>
                    </div>
                    <div class="group-form">
                        <label for="date">التاريخ</label>
                        <input lang="en" id="date" type="datetime-local" name="date"
                               value=""
                               required/>

                    </div>
                    <button>اضافة</button>
                </form>
            {% else %}
                <form class="add-items add-products" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="group-form">
                        <label for="image">اضافة صورة</label>
                        <input
                                class="custom-input"
                                id="image"
                                type="file"
                                name="image"
                                value="اضف صورة"
                                required
                        />

                    </div>
                    <div class="group-form">
                        <label for="name">إسم المنتج</label>
                        <input id="name" type="text" name="name" required/>
                    </div>

                    <div class="group-form">
                        <label for="purchasingPrice">سعر الشراء</label>
                        <input
                                id="purchasingPrice"
                                type="number"
                                name="purchasingPrice"
                                min="1"
                                required
                        />
                    </div>
                    <div class="group-form">
                        <label for="sellingPrice">سعر البيع</label>
                        <input
                                id="sellingPrice"
                                type="number"
                                name="sellingPrice"
                                min="1"
                                required
                        />
                    </div>
                    <div class="group-form">
                        <label for="inStock">عدد المنتجات في المخزن</label>
                        <input id="inStock" type="number" name="inStock" min="1" required/>
                    </div>
                    <div class="group-form">
                        <label for="date">التاريخ</label>
                        <input lang="en" id="date" type="datetime-local" name="date"
                               value=""
                               required
                        />
                    </div>
                    <button>اضافة</button>
                </form>
            {% endif %}
        </section>
    {% else %}
        <section class="forms">
            <h3>هذد الصفحة متاحة للأدمن فقط <a style="color: #4bb543" href="{% url "login" %}">قم بالتسجيل كأدمن </a></h3>
        </section>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static "js/moment.min.js" %}"></script>
    <script>
        {% if update_products %}
            document.getElementById("date").value = "{{ update_products.date_add_product|date:'Y-m-d' }}T{{ update_products.date_add_product|time:'H:i' }}"

        {% else %}
            document.getElementById("date").value = moment().format().slice(0, 16)
        {% endif %}

    </script>
    <script src="{% static "js/dark-mode-forms.js" %}"></script>
{% endblock %}

