{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- start tables -->
    <div class="tables">
        <div class="options">
            <form class="search" method="post">
                <input type="text" name="search">
                {% csrf_token %}
                <button>البحث</button>
            </form>
            <a class="add" href="{% url "add-sales" %}">
                أضف جديد
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <table class="users">
            <thead>
            <tr>
                <th>التسلسل</th>
                <th>اسم العميل</th>
                <th>تاريخ الشراء</th>
                <th>المجموع</th>
                <th>الملاحظات</th>
                <th>الحالة</th>
            </tr>
            </thead>
            <tbody>
            {% if searches %}
                {% for search in searches %}
                    <tr>
                        <td>{{ search.id }}</td>
                        <td>{{ search.name }}</td>
                        <td>{{ search.date_of_purchase|date:"Y-m-d (H:m)" }}</td>
                        <td>{{ search.total }}</td>
                        <td>{{ search.notes }}</td>
                        <td class="status">
                            <a href="">تعديل</a>
                            <a href="">مسح</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for sale in sales %}
                    <tr>
                        <td>1</td>
                        <td>نبيل علاء تادرس</td>
                        <td>nabilalaa06@gmail.com</td>
                        <td>admin</td>
                        <td>1/1/2022</td>
                        <td class="status">
                            <a href="">تعديل</a>
                            <a href="">مسح</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% for msg  in messages %}
                {% if msg %}
                    <h3 style="color: #4bb543">{{ msg }}</h3>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="pag">
            <div class="next"><i class="fas fa-angle-right"></i></div>
            <div class="page">1</div>
            <div class="page">1</div>
            <div class="previous"><i class="fas fa-angle-left"></i></div>
        </div>
        <div class="t-responsive">
            {% if searches %}
                {% for search in searches %}
                    <div class="row">
                        <div class="item">التسلسل</div>
                        <div class="item">1</div>
                        <div class="item">اسم العميل</div>
                        <div class="item">{{ search.name }}</div>
                        <div class="item">تاريخ الشراء</div>
                        <div class="item break-word">{{ search.date_of_purchase|date:"Y-m-d (H:m)" }}</div>
                        <div class="item">المجموع</div>
                        <div class="item">{{ search.total }}</div>
                        <div class="item">الملاحظات</div>
                        <div class="item">{{ search.notes }}</div>
                        {#                        <div class="item status">#}
                        {#                            <a href="{% url "update_products" products_id=product.id %}">تعديل</a>#}
                        {#                            <a href="{% url "update_products" products_id=product.id %}">مسح</a>#}
                        {#                        </div>#}
                    </div>
                {% endfor %}
            {% else %}
                {% for sale in sales %}
                    <div class="row">
                        <div class="item">التسلسل</div>
                        <div class="item">1</div>
                        <div class="item">اسم العميل</div>
                        <div class="item">{{ search.name }}</div>
                        <div class="item">تاريخ الشراء</div>
                        <div class="item break-word">{{ search.date_of_purchase|date:"Y-m-d (H:m)" }}</div>
                        <div class="item">المجموع</div>
                        <div class="item">{{ search.total }}</div>
                        <div class="item">الملاحظات</div>
                        <div class="item">{{ search.notes }}</div>
                        {#                        <div class="item status">#}
                        {#                            <a href="{% url "update_products" products_id=product.id %}">تعديل</a>#}
                        {#                            <a href="{% url "update_products" products_id=product.id %}">مسح</a>#}
                        {#                        </div>#}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/dark-mode-table.js" %}"></script>
{% endblock %}
