{% extends "base.html" %}
{% load static %}
{% block title %}
    Users
{% endblock %}
{% block content %}
    <!-- start tables -->
    <div class="tables">
        <div class="options">
            <form class="search" method="POST">
                {% csrf_token %}
                <input type="text" name="search"/>
                <button>البحث</button>
            </form>
            <a class="add" href="{% url "add-users" %}">
                أضافة مستخدم جديد
                <i class=" fas fa-plus"></i>
            </a>
        </div>
        <table class="users">
            <thead>
            <tr>
                <th>التسلسل</th>
                <th>اسم المستخدم</th>
                <th>الايميل</th>
                <th>دور المستخدم</th>
                <th>تاريخ تسجيل الدخول</th>
                <th>الحالة</th>
            </tr>
            </thead>
            <tbody>
            {% if searches %}
                {% for search in searches %}
                    <tr>
                        <td>{{ search.id }}</td>
                        <td>{{ search.username }}</td>

                        <td>
                            {{ search.email }}
                        </td>
                        <td>
                            {% if search.is_superuser %}
                                Admin
                            {% else %}
                                User
                            {% endif %}
                        </td>

                        <td>{{ search.date_joined|date:"Y-m-d" }}</td>
                        <td class="status">
                            <a href="{% url "update_users" users_id=search.id %}">تعديل</a>
                            <a href="{% url "delete_users" users_id=search.id %}">مسح</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for user in users %}
                    <tr>
                        <td>1</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.is_superuser %}
                                Admin
                            {% else %}
                                User
                            {% endif %}
                        </td>

                        <td>{{ user.date_joined|date:"Y-m-d" }}</td>
                        <td class="status">
                            <a href="{% url "update_users" users_id=user.id %}">تعديل</a>
                            <a href="{% url "delete_users" users_id=user.id %}">مسح</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% for msg  in messages %}
                {% if msg %}
                    <h3 style="color: #4bb543">{{ msg }}</h3>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="pag">
            <div class="next"><i class="fas fa-angle-right"></i></div>
            <div class="page">1</div>
            <div class="page">1</div>
            <div class="previous"><i class="fas fa-angle-left"></i></div>
        </div>
        <div class="t-responsive">
            {% if searches %}
                {% for search in searches %}
                    <div class="row">
                        <div class="item">التسلسل</div>
                        <div class="item ">1</div>

                        <div class="item">اسم المستخدم</div>
                        <div class="item ">{{ search.username }}</div>

                        <div class="item">الايميل</div>
                        <div class="item ">{{ search.email }}</div>

                        <div class="item">دور المستخدم</div>
                        <div class="item">
                            {% if search.is_superuser %}
                                Admin
                            {% else %}
                                User
                            {% endif %}
                        </div>
                        <div class="item">تاريخ تسجيل الدخول</div>
                        <div class="item ">{{ search.date_joined|date:"Y-m-d" }}</div>
                        <div class="item">الحالة</div>
                        <div class="item status">
                            <a href="{% url "update_category" category_id=search.id %}">تعديل</a>
                            <a href="{% url "delete_category" category_id=search.id %}">مسح</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for user in users %}
                    <div class="row">
                        <div class="item">التسلسل</div>
                        <div class="item ">1</div>

                        <div class="item">اسم المستخدم</div>
                        <div class="item ">{{ user.username }}</div>

                        <div class="item">الايميل</div>
                        <div class="item ">{{ user.email }}</div>

                        <div class="item">دور المستخدم</div>
                        <div class="item">
                            {% if user.is_superuser %}
                                Admin
                            {% else %}
                                User
                            {% endif %}
                        </div>
                        <div class="item">تاريخ تسجيل الدخول</div>
                        <div class="item ">{{ user.date_joined|date:"Y-m-d" }}</div>
                        <div class="item">الحالة</div>
                        <div class="item status">
                            <a href="{% url "update_category" category_id=user.id %}">تعديل</a>
                            <a href="{% url "delete_category" category_id=user.id %}">مسح</a>
                        </div>

                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/dark-mode-table.js" %}"></script>
{% endblock %}
